* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(14, 12, 11);
    color: whitesmoke;
    
}

header, footer {
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    align-items: center;
    margin-bottom: 3vh;
    padding-left: 3vh;
}

header h2 {
    font-size: 250%;
}

nav {
    flex: 0 1 300px;
}

nav ul {
    list-style-type: none;
    position: sticky;
    top: 100px;
}

nav li {
    width: 80%;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;

}

nav a {
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 5px;
    display: block;
}

nav a:link, nav a:visited {
    color: black;
}

nav a:hover {
    cursor: pointer;
    color: #f9f4f4;
}

main {
    flex: 0 1 600px;
}

header img {
    max-width: 500px;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
    box-shadow: 5px 5px 15px 10px #660000;
    background-color: rgb(0, 0, 0);
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cornerBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid grey;
    color: #660000;
    font-size: 120%;
    font-weight: bold;
    transition: all 300ms;
}

footer{
    padding: 1vh 0;
    border-top: 1px solid wheat;
}
footer p {
    font-size: 80%;
    text-align: center;

}
